body {
    display: flex;
    justify-content: center;
    background-color: #222;
    max-width: 1000px;
    margin: auto;
}
#board {
    display: grid;
    grid-template-rows: repeat(36, 48px);
    grid-template-columns: repeat(36, 48px);
    justify-content: center;
    margin: 5%;
}
.gridsquare {
    border: 0.5px solid #222;
}
.coloron {
    background-color: green;
}
.coloroff {
    background-color: lightgreen;
}
.piece {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.label {
    color: #ebba5d;
    font-size: 2.5em;
    font-weight: 700;
    text-shadow:
        2px -2px 0 #222,
        2px 2px 0 #222,
        -2px 2px 0 #222,
        -2px -2px 0 #222,
        0px -4px 0 #222,
        0px 3px 0 #222;
}
.opponent {
    transform: scaleY(-1);
}
.tooltip {
    display: none;
    background-color: #eee;
    color: #222;
    border: 2px solid #222;
    position: absolute;
    bottom: -60px;
    z-index: 4;
    text-align: center;
    padding: 10%;
}
.highlight {
    background-color: #2ee;
}
.moving {
    background-color: blue;
}
.promoted {
    color: #e22;
}